<%= stylesheet_link_tag "videojs/videojs-playlist-ui" %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.8.3/video-js.min.css" />
<div class="container">
  <div class="row"
    id="video-player-proctoring"
    data-default-thumbnail="<%= asset_url('proctoring/poster.png')%>"
    style="background: #202020"
  >
    <div class="col-xs-9" style="padding: 0">
      <video
        id="preview-player"
        class="video-js vjs-fluid"
        controls
        preload="auto"
        poster="<%= asset_url('proctoring/poster.png')%>"
        data-setup='{}'
      >
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
          </a>
        </p>
      </video>
    </div>
    <div class="col-xs-3" style="padding: 0">
      <div class="vjs-playlist">
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.8.3/video.min.js"></script>
<%= javascript_include_tag "videojs/videojs-playlist" %>
<%= javascript_include_tag "videojs/videojs-playlist-ui" %>
<%= javascript_include_tag "kurento/VideoPlayer" %>
