<%= stylesheet_link_tag "videojs/videojs-playlist-ui" %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.8.3/video-js.min.css" />
<div class="container-fluid" style="max-height: 60vh;overflow: scroll;">
  <div class="row"
    id="video-player-proctoring"
    data-default-thumbnail="<%= asset_url('proctoring/poster.png')%>"
    style="background: #202020"
  >
    <div class="col-xs-12 col-md-8" style="padding-left: 0;scale: ;max-height: 60vh;">
      <video
        id="<%= defined?(video_js_id) != nil ? video_js_id : 'preview-player'%>"
        class="video-js vjs-16-9"
        controls
        preload="auto"
        poster="<%= asset_url('proctoring/poster.png')%>"
        data-setup='{"playbackRates": [0.25, 0.5, 1, 1.5, 2, 2.5, 3, 4, 5] }'
        height="200"
      >
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
          </a>
        </p>
      </video>
    </div>
    <div class="col-xs-12 col-md-4" style="max-height: 60vh;">
      <div class="row">
        <div class="col-xs-8" style="overflow: scroll;">
          <div class="vjs-playlist" style="height: 60vh;">
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.8.3/video.min.js"></script>
<%= javascript_include_tag "videojs/videojs-playlist" %>
<%= javascript_include_tag "videojs/videojs-playlist-ui" %>
<%= javascript_include_tag "kurento/VideoPlayer" %>
