<%= render partial: 'socket_rtc_scripts', locals: { recording: true } %>
<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Video Streamings</h1>
  <div id="channel-data" data-stream-video-url="<%= stream_video_url %>" data-stream-channels="<%= channels %>"></div>
  <div id="video-container"></div>
</div>
<%= javascript_include_tag "proctoring/stream_room" %>
